body
  margin 0
  font-family Roboto, sans-serif
.container
  max-width 1024px
  padding 0 10px
  margin 0 auto

.bold
  font-weight 600

.logo
  color #fff
  text-decoration none
  
.form-wrap
  display flex
  width 100%
  margin 30px auto

.form
  flex 0 0 33%
  padding 0 15px
  .inline-field-wrap
    display flex
    margin-bottom 30px
  .inline-field
    flex 1 0 0
    margin-right 30px
    &:last-child
      margin-right 0
  .btn-wrap
    display flex
    align-items center
    .submit
      flex 0 0 90%
    .star
      text-align center
      flex 0 0 10%

.list-wrap
  flex 0 0 33%
  height 380px
  padding 0 15px
  display flex
  flex-direction column
  .list
    overflow auto

.weather-list
  display flex
  flex-wrap wrap
  .list-item
    margin 15px
    flex 1 0 auto

.divider
  margin 15px 0 !important